:root {
    /* สีพื้นฐานหลักของธีม (ใช้เป็นโทนหลักทั่วเว็บ) */
    --colors-based: #E11D48;

    /* สีเงา ใช้ทำเอฟเฟกต์เงาหรือขอบ */
    --shadows: #fe8266;

    /* สีปุ่มหลัก (เช่น ปุ่มกด action) */
    --color-button: #E11D48 ;

    /* สีพื้นหลังหรือตัวเลือกของคำตอบ */
    --answer: #E11D48;

    /* สีหัวข้อของคำตอบ */
    --title-answer: #9e1e3a;

    /* สีพื้นหลังหลักของเว็บ */
    --background: #0F172A;

    /* สีเงาของตัวอักษรหัวข้อ */
    --title-shadow: black;

    /* สีพื้นหลังของกล่อง/แผงเนื้อหา */
    --background-panel: #F59E0B;

    /* สีฟอนต์ (ตัวหนังสือ) */
    --font-color: #F8FAFC;

    /* สีชื่อโปรเจกต์ */
    --project-name: #9e1e3a;

    /* สีเนื้อหาโปรเจกต์ */
    --project-content: #E11D48;

    /* สีปุ่มในโปรเจกต์ */
    --project-button: #c01439;

    /* สีพื้นหลังข้อความ */
    --text-bacground: #f0917b;
}
