:root {
    /* สีพื้นฐานหลักของธีม (ใช้เป็นโทนหลักทั่วเว็บ) */
    --colors-based: #E11D48;

    /* สีปุ่มหลัก (เช่น ปุ่มกด action) */
    --color-button: #E11D48 ;

    /* สีของ Dropdown FAQ & Project  */
    --colors-background-dropdown: #E11D48;

    /* สีของ Font FAQ & Project  */
    --colors-font-dropdown: white;

    /* สีของ Dropdown Content FAQ & Project  */
    --colors-content-dropdown: #f9f9f9;

    /* สีพื้นหลังหลักของเว็บ */
    --background: #0F172A;

    /* สีเงาของตัวอักษรหัวข้อ */
    --title-shadow: black;

    /* สีพื้นหลังของกล่อง/แผงเนื้อหา */
    --background-panel: #F59E0B;

    /* สีฟอนต์ (ตัวหนังสือ) */
    --font-color: #F8FAFC;

    /* สีพื้นหลังข้อความ */
    --text-bacground: #f0917b;

    /* สีของ Profile  */
    --profile-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5))
}
